@import "helpers";

.header {
  &-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: 35px solid var(--color-white);
    border-right: 35px solid var(--color-white);
    background-color: var(--color-white);
    transform: translateX(-50%);
    .icon {
      width: 182px;
      height: 58px;
      margin-bottom: 7px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .caption {
      margin: 0;
      p {
        color: #CC1534;
        font-size: 22px;
        font-weight: 500;
        line-height: 28.05px;
        letter-spacing: 0.01em;
      }
      span {
        color: var(--color-dark-gray);
        font-size: 22px;
        font-weight: 400;
        line-height: 28.05px;
      }
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    padding: 22px 64px;
    border-bottom: 1px solid #D2DBEA;
    &__wrap {
      display: flex;
      align-items: center;
      grid-gap: 0 70px;
    }
  }
  &-location {
    display: flex;
    align-items: center;
    grid-gap: 0 11px;
    span {
      color: var(--color-black);
      font-size: 16px;
      font-weight: 500;
      line-height: 20.4px;
      text-align: left;      
    }
  }
  &-operating {
    position: relative;
    padding: 14px 16px 0;
    margin: -14px -16px 0;
    z-index: 11;
    &:hover {
      .operating-dropdown {
        opacity: 1;
        background-color: var(--color-white);
        pointer-events: all;
        transition: opacity .1s ease-out, background-color .3s ease-out;
        &::before {
          opacity: .1;
          transition: opacity .1s ease-out;
        }
      }
      .caption {
        p {
          > span {
            opacity: 1;
            transition: opacity .3s ease-out;
          }
        }
      }
    }
    .caption {
      position: relative;
      display: flex;
      align-items: center;
      grid-gap: 0 11px;
      z-index: 1;
      p {
        color: var(--color-gray);
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
        > span {
          opacity: 0;
          transition: opacity .3s ease-out;
        }
      }
    }
    .operating-dropdown {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      grid-gap: 10px 0;
      width: auto;
      padding: 48px 16px 16px;
      border-radius: 10px;
      opacity: 0;
      pointer-events: none;
      transition: .3s ease-out;
      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #4F4E62;
        opacity: 0;
        transition: .3s ease-out;
        pointer-events: none;
        z-index: -1;
      }
      .item {
        p {
          color: var(--color-black);
          font-size: 16px;
          font-weight: 500;
          line-height: 20.4px;
          text-align: left;
          white-space: nowrap;
          > span {
            color: var(--color-red);
          }
        }
      }
    }
  }
  &-phone {
    position: relative;
    padding: 14px 16px 0;
    margin: -14px -16px 0;
    z-index: 11;
    &:hover {
      .phone-dropdown {
        opacity: 1;
        background-color: var(--color-white);
        pointer-events: all;
        transition: opacity .1s ease-out, background-color .3s ease-out;
        &::before {
          opacity: .1;
          transition: opacity .2s ease-out;
        }
      }
      .caption {
        a {
          color: var(--color-red);
          transition: .3s ease-out;
        }
      }
    }
    .caption {
      position: relative;
      z-index: 1;
      a {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
        transition: .3s ease-out;
      }
    }
    .phone-dropdown {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      grid-gap: 16px 0;
      width: auto;
      padding: 48px 16px 16px;
      border-radius: 10px;
      opacity: 0;
      pointer-events: none;
      transition: .3s ease-out;
      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #4F4E62;
        opacity: 0;
        transition: .3s ease-out;
        pointer-events: none;
        z-index: -1;
      }
      .item {
        display: flex;
        flex-direction: column;
        grid-gap: 6px 0;
        .social {
          display: flex;
          grid-gap: 0 16px;
        }
        > span {
          color: var(--color-gray);
          font-family: Onest;
          font-size: 14px;
          font-weight: 500;
          line-height: 17.85px;
          white-space: nowrap;
        }
        a {
          display: flex;
          align-items: center;
          grid-gap: 0 11px;
          color: var(--color-black);
          font-size: 16px;
          font-weight: 500;
          line-height: 20.4px;
          text-align: left;
          white-space: nowrap;
          transition: .3s ease-out;
          > span {
            transition: .3s ease-out;
          }
          &:hover {
            > span {
              opacity: .8;
              transition: .3s ease-out;
            }
          }
        }
        button {
          margin-top: 6px;
          padding: 10px 16px;
          color: var(--color-red);
          font-size: 16px;
          font-weight: 500;
          line-height: 20.4px;
          border-radius: 6px;
          background-color: #F9E3E7CC;
          white-space: nowrap;
          transition: .3s ease-out;
          &:hover {
            background-color: #F9E3E7;
            transition: .3s ease-out;
          }
        }
      }
    }
  }
  &-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 64px;
    .personal-wrap {
      display: flex;
      align-items: center;
      grid-gap: 0 57px
    }
    .persontal-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px 0;
      cursor: pointer;
      span {
        color: var(--color-gray);
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
      }
      svg {
        path,
        rect,
        circle,
        g {
          transition: .3s ease-out;
        }
      }
      &.personal-favorites {
        &:hover {
          svg {
            path {
              stroke: var(--color-red);
              transition: .3s ease-out;
            }
          }
        }
      }
      &.personal-basket {
        &:hover {
          svg {
            path {
              stroke: var(--color-red);
              transition: .3s ease-out;
            }
          }
        }
      }
      &.personal-account {
        svg {
          g {
            transform-origin: 50% 80%;
          }
        }
        &:hover {
          svg {
            path,
            rect,
            circle {
              stroke: var(--color-red);
              transition: .3s ease-out;
            }
            g {
              transform: scale(.88);
              transition: .3s ease-out;
            }
          }
        }
      }
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 8px 64px;
    background-color: var(--color-red);
    &__top {
      display: flex;
      align-items: center;
      grid-gap: 0 70px;
      a {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
        transition: .3s ease-out;
        &:hover {
          color: var(--color-red);
          transition: .3s ease-out;
        }
      }
    }
    &__middle {
      a {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 500;
        line-height: 20.4px;
        transition: .3s ease-out;
        &:hover {
          color: var(--color-red);
          transition: .3s ease-out;
        }
      }
    }
    .nav-catalog {
      position: relative;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      margin: -10px -20px;
      border-radius: 10px;
      cursor: pointer;
      transition: .3s ease-out;
      z-index: 11;
      &:hover {
        background-color: var(--color-white);
        transition: .3s ease-out;
        .title {
          color: var(--color-red);
          transition: .3s ease-out;
        }
        svg {
          path {
            stroke: var(--color-red);
            transition: .3s ease-out;
          }
        }
        .nav-dropdown {
          opacity: 1;
          pointer-events: auto;
          transition: opacity .1s ease-out;
          &::after {
            opacity: .1;
            transition: opacity .3s ease-out;
          }
        }
      }
      svg {
        path {
          transition: .3s ease-out;
        }
      }
      .title {
        padding-top: 2px;
        color: var(--color-white);
        font-size: 20px;
        font-weight: 500;
        line-height: 25.5px;
        transition: .3s ease-out;
      }
    }
    .nav-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      width: auto;
      margin-top: 16px;
      padding: 10px 0;
      background-color: var(--color-white);
      border-radius: 10px;
      opacity: 0;
      pointer-events: none;
      transition: .3s ease-out;
      &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background-color: transparent;
      }
      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #4F4E62;
        opacity: 0;
        transition: .3s ease-out;
        pointer-events: none;
        z-index: -1;
      }
      .item {
        padding: 10px 20px;
        color: var(--color-black);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        white-space: nowrap;
        transition: .3s ease-out;
        &:hover {
          color: var(--color-red);
          background-color: #F9E3E7;
          transition: .3s ease-out;
        }
      }
    }
    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      grid-gap: 0 6px;
      padding: 10px 20px;
      border-radius: 10px;
      transition: .3s ease-out;
      &:hover {
        background-color: var(--color-white);
        transition: .3s ease-out;
        span {
          color: var(--color-red);
          transition: .3s ease-out;
        }
        svg {
          path {
            stroke: var(--color-red);
            transition: .3s ease-out;
          }
        }
      }
      span {
        position: relative;
        color: var(--color-white);
        font-size: 20px;
        font-weight: 500;
        line-height: 25.5px;
        transition: .3s ease-out;
      }
      svg {
        path {
          transition: .3s ease-out;
        }
      }
    }
    .nav-search {
      height: 100%;
    }
  }
  &-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    background-color: var(--color-white);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: .3s ease-out;
    z-index: 100;
    &.active {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
      transition: .3s ease-out;
    }
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-logo {
      flex: 0 0 150px;
      width: 150px;
      margin-right: 64px;
      svg {
        width: 100%;
      }
    }
    &-menu {
      margin-right: 40px;
      .nav-catalog {
        position: relative;
        display: flex;
        align-items: center;
        grid-gap: 0 12px;
        padding: 10px 20px;
        margin: -10px -20px;
        background-color: #F9E3E7;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s ease-out;
        z-index: 11;
        &:hover {
          background-color: var(--color-red);
          transition: .3s ease-out;
          .title {
            color: var(--color-white);
            transition: .3s ease-out;
          }
          svg {
            path {
              stroke: var(--color-white);
              transition: .3s ease-out;
            }
          }
          .nav-dropdown {
            opacity: 1;
            pointer-events: auto;
            transition: opacity .1s ease-out;
            &::after {
              opacity: .1;
              transition: opacity .3s ease-out;
            }
          }
        }
        svg {
          path {
            transition: .3s ease-out;
          }
        }
        .title {
          padding-top: 3px;
          color: var(--color-red);
          font-size: 18px;
          font-weight: 500;
          line-height: 25.5px;
          transition: .3s ease-out;
        }
      }
      .nav-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 16px;
        padding: 10px 0;
        background-color: var(--color-white);
        border-radius: 10px;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease-out;
        &::before {
          content: '';
          position: absolute;
          top: -15px;
          left: 0;
          width: 100%;
          height: 15px;
          background-color: transparent;
        }
        &::after {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: #4F4E62;
          opacity: 0;
          transition: .3s ease-out;
          pointer-events: none;
          z-index: -1;
        }
        .item {
          padding: 10px 20px;
          color: var(--color-black);
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          white-space: nowrap;
          transition: .3s ease-out;
          &:hover {
            color: var(--color-red);
            background-color: #F9E3E7;
            transition: .3s ease-out;
          }
        }
      }
    }
    .nav-search {
      margin-right: 64px;
    }
    &-personal {
      display: flex;
      grid-gap: 0 40px;
      .item {
        svg {
          path,
          rect,
          circle,
          g {
            transition: .3s ease-out;
          }
        }
        &.personal-favorites {
          &:hover {
            svg {
              path {
                stroke: var(--color-red);
                transition: .3s ease-out;
              }
            }
          }
        }
        &.personal-basket {
          &:hover {
            svg {
              path {
                stroke: var(--color-red);
                transition: .3s ease-out;
              }
            }
          }
        }
        &.personal-account {
          svg {
            g {
              transform-origin: 50% 80%;
            }
          }
          &:hover {
            svg {
              path,
              rect,
              circle {
                stroke: var(--color-red);
                transition: .3s ease-out;
              }
              g {
                transform: scale(.88);
                transition: .3s ease-out;
              }
            }
          }
        }
      }
    }
    &-phone {
      margin-right: 76px;
      a {
        color: var(--color-red);
        font-size: 18px;
        font-weight: 500;
        line-height: 22.95px;
      }
    }
    &-link {
      margin-right: 64px;
      a {
        display: flex;
        align-items: center;
        grid-gap: 0 10px;
        color: var(--color-black);
        font-size: 18px;
        font-weight: 500;
        line-height: 22.95px;
        text-align: left;

      }
    }
  }
}