@import "helpers";
@import "block-caption";
@import "block-catalog";
@import "block-social";
@import "block-form";
@import "ui-buttons";

.main {
  &-banner {
    overflow: hidden;
    .banner-content {
      width: 100%;
      .item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        min-width: 100vw;
        min-height: 620px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left, right;
        &-content {
          position: relative;
          display: flex;
          flex-direction: column;
          grid-column: 2 / 3;
          max-width: 728px;
          padding-top: 100px;
          z-index: 10;
          h2 {
            margin: 0 0 30px;
            color: var(--color-black);
            font-size: 70px;
            font-weight: 500;
            line-height: 77px;
          }
          p {
            color: var(--color-black);
            font-size: 22px;
            font-weight: 400;
            line-height: 27.72px;
          }
          .btn {
            margin-top: 50px;
          }
        }
      }
    }
  }
  &-Ñategories {
    padding: 100px 0 104px;
    .categories-content {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 88px;
      padding: 0 62px;
      overflow: hidden;
      .item {
        display: flex;
        flex-direction: column;
        grid-gap: 6px 0;
        min-width: 106px;
        margin-right: 32px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          .image,
          .text {
            transition: .3s ease-out;
            border-color: var(--color-red);
          }
        }
        .image,
        .text {
          width: 106px;
          height: 106px;
          padding: 3px;
          border: 2px solid var(--color-gray);
          border-radius: 100%;
          transition: .3s ease-out;
          .wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #EEF3FA;
            border-radius: 100%;
            overflow: hidden;
          }
        }
        .text {
          span {
            color: var(--color-red);
            font-size: 22px;
            font-weight: 500;
            line-height: 28.05px;
          }
        }
        h3 {
          margin: 0;
          color: var(--color-gray);
          font-weight: 500;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: center;
        }
      }
    }
  }
  &-greeting {
    .greeting-content {
      position: relative;
      display: grid;
      grid-template-columns: 728px 1fr;
      grid-gap: 0 116px;
      padding: 60px 70px 70px;
      border-radius: 20px;
      background-color: var(--color-light);
      &::before {
        content: "";
        position: absolute;
        bottom: 45px;
        left: 34%;
        width: 685px;
        height: 132px;
        background: url(../img/main-greeting-abst.svg) no-repeat;
        background-size: contain;
      }
      .text {
        h2 {
          margin: 0 0 40px;
          color: var(--color-black);
          font-size: 50px;
          font-weight: 500;
          line-height: 65px;
          > span {
            color: var(--color-red);
          }
        }
        p {
          margin-bottom: 40px;
          color: var(--color-black);
          font-size: 22px;
          font-weight: 400;
          line-height: 27.72px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 34px;
        margin-top: 10px;
        &-info {
          display: block;
          max-width: 527px;
          color: var(--color-dark-gray);
          font-size: 18px;
          font-weight: 400;
          line-height: 22.95px;
        }
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 25px;
          border-radius: 15px;
          background-color: var(--color-white);
          &:hover {
            .image {
              transform: scale(.95);
              transition: .3s ease-out;
            }
          }
          &:first-child {
            max-height: 316px;
            color: var(--color-red);
          }
          &:last-child {
            max-height: 402px;
            color: var(--color-violet);
          }
          h2 {
            margin: 0;
            font-size: 22px;
            font-weight: 700;
            line-height: 28.05px;
          }
          p {
            margin-top: 14px;
            color: var(--color-black);
            font-size: 18px;
            font-weight: 400;
            line-height: 22.95px;
          }
          .image {
            transform: scale(1);
            transition: .3s ease-out;
          }
        }
      }
    }
  }
  &-catalog {
    .catalog {
      margin-top: 32px;
      overflow: hidden;
      &-stoke {
        display: grid;
        grid-template-columns: 696px 1fr;
        grid-gap: 0 32px;
        .stoke-content {
          position: relative;
          width: 100%;
          height: 570px;
          margin-top: 32px;
          padding: 70px;
          border-radius: 20px;
          background: linear-gradient(
            66.36deg, #DCF3FD 9.92%, 
            #E9E5F5 53.02%, 
            #FFE8E6 93.4%
          );
          p {
            color: #6B717B;
            font-size: 22px;
            font-weight: 400;
            line-height: 27.72px;
          }
          .image {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  &-advanced {
    .advanced-content {
      position: relative;
      .block-caption {
        position: absolute;
        padding: 0;
        border: none;
      }
    }
    .advanced-list {
      .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;
      }
      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: 30px 0;
        padding: 28px;
        border-radius: 20px;
        background-color: var(--color-light);
        &:first-child {
          grid-column: 2 / 3;
        }
        .text {
          display: flex;
          flex-direction: column;
          grid-gap: 20px 0;
        }
        h3 {
          margin: 0;
          color: var(--color-black);
          font-size: 22px;
          font-weight: 700;
          line-height: 28.6px;
        }
        p {
          color: var(--color-black);
          font-size: 18px;
          font-weight: 400;
          line-height: 22.95px;
        }
      }
    }
  }
  &-about {
    .about-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 88px;
      &-right {
        .text {
          justify-content: flex-end;
        }
        .image {
          height: 574px;
        }
      }
      &-left {
        .image {
          height: 630px;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        &-title {
          margin: 0 0 40px;
          color: var(--color-black);
          font-size: 40px;
          font-weight: 500;
          line-height: 52px;
        }
        &-subtitle {
          margin: 0 0 30px;
          color: var(--color-black);
          font-size: 22px;
          font-weight: 400;
          line-height: 28.05px;  
        }
        &-list {
          display: flex;
          flex-direction: column;
          grid-gap: 10px 0;
          margin: 0 0 30px;
          li {
            color: var(--color-black);
            font-size: 22px;
            font-weight: 400;
            line-height: 28.05px;
          }
        }
        &-info {
          margin: 0 0 40px;
          color: var(--color-dark-gray);
          font-size: 18px;
          font-weight: 400;
          line-height: 22.95px;
        }
      }
      .image {
        position: relative;
        width: 852px;
        .item {
          min-width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
        }
      }
    }
  }
  &-comm {
    .comm-content {
      display: grid;
      grid-template-columns: 1fr 424px;
      grid-gap: 0 32px;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 574px;
        padding: 60px 26px 70px 70px;
        border-radius: 20px;
        background-color: #EEF3FA;
        h2 {
          color: var(--color-black);
          margin: 0;
          font-size: 50px;
          font-weight: 500;
          line-height: 65px;
          > span {
            color: var(--color-red);
          }
        }
        .steps {
          position: relative;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 0 20px;
          &::before {
            content: '';
            position: absolute;
            top: calc(-100% - 33px);
            left: 0;
            right: 0;
            height: 123px;
            background: url(../img/main-comm-graphics.svg) center no-repeat;
            background-size: 100%;
          }
          .item {
            display: flex;
            flex-direction: column;
            grid-gap: 20px 0;
            max-width: 324px;
            h3 {
              margin: 0;
              color: var(--color-black);
              font-size: 22px;
              font-weight: 700;
              line-height: 28.6px;
            }
            p {
              color: var(--color-black);
              font-size: 22px;
              font-weight: 400;
              line-height: 28.05px;
            }
          }
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 32px 0;
        ul {
          display: flex;
          flex-direction: column;
          grid-gap: 16px 0;
          margin: 0;
          padding: 28px;
          border-radius: 20px;
          background-color: var(--color-red);
          li {
            position: relative;
            padding-left: 24px;
            color: var(--color-white);
            font-size: 18px;
            font-weight: 400;
            line-height: 22.95px;
            &:before {
              content: '';
              position: absolute;
              top: 8px;
              left: 0;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: var(--color-white);
            }
          }
        }
      }
    }
  }
  &-reviews {
    .reviews-content {
      display: grid;
      grid-template-columns: 401px 1fr;
      grid-gap: 0 137px;
    }
    .block-caption {
      display: flex;
      flex-direction: column;
      padding: 0;
      border: none;
    }
    .reviews-list {
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 272px;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.731419) 46.02%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
      }
      .item {
        display: flex;
        flex-direction: column;
        grid-gap: 20px 0;
        min-width: 424px;
        max-height: 289px;
        margin-right: 32px;
        padding: 28px;
        border-radius: 20px;
        background-color: var(--color-light);
        &:last-child {
          margin-right: 0;
        }
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            margin: 0;
            color: var(--color-black);
            font-size: 22px;
            font-weight: 400;
            line-height: 28.6px;      
          }
          span {
            color: var(--color-gray);
            font-size: 18px;
            font-weight: 400;
            line-height: 22.95px;
          }
        }
        .text {
          p {
            color: var(--color-dark-gray);
            font-size: 18px;
            font-weight: 400;
            line-height: 22.95px;
          }
        }
      }
    }
  }
  &-articles {
    .articles-content {
      display: grid;
      grid-template-columns: 1fr 390px;
      grid-gap: 0 60px;
    }
    .block-caption {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      border: none;
      h2 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 66px;
      }
    }
    .articles-list {
      overflow: hidden;
      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 424px;
        min-height: 622px;
        margin-right: 32px;
        border: 1px solid #D2DBEA;
        border-radius: 20px;
        overflow: hidden;
        &:last-child {
          margin-right: 0;
        }
        .image {
          width: 100%;
          height: 284px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          padding: 30px 28px 28px;
          &-info {
            display: flex;
            margin-bottom: 30px;
            span {
              color: var(--color-dark-gray);
              font-size: 16px;
              font-weight: 400;
              line-height: 20.4px;
            }
          }
          &-caption {
            h3 {
              margin: 0 0 20px;
              color: var(--color-black);
              font-size: 22px;
              font-weight: 700;
              line-height: 28.6px;
              text-transform: uppercase;
            }
            p {
              color: var(--color-dark-gray);
              font-size: 18px;
              font-weight: 400;
              line-height: 22.95px;
            }
          }
          &-link {
            position: absolute;
            left: 28px;
            right: 28px;
            bottom: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .views {
              display: flex;
              align-items: center;
              grid-gap: 0 10px;
              font-size: 16px;
              font-weight: 400;
              line-height: 20.4px;
            }
            a {
              color: var(--color-black);
              display: inline-flex;
              align-items: center;
              grid-gap: 0 10px;
              font-size: 18px;
              font-weight: 500;
              line-height: 22.95px;
            }
          }
        }
      }
    }
  }
}




